<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{$project['title']}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{:PUBLIC_PATH}dt/css/bootstrap-datepicker3.standalone.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
		body {font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;color:#555;}
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
    	.projects-header{width: 60%;text-align: center;margin: 0px 0 10px;font-weight: 200;margin-bottom: 40px;display: block;margin-left: auto;margin-right: auto;}
		.projects-header h2 {font-size: 42px;letter-spacing: -1px;}
		.mycheckbox label,.myradio label{margin-right:15px;}
	</style>
</head>

<body>
<div class="container projects">
    <div class="projects-header page-header">
        <h2>{$project['title']}</h2>
        <p>{$project['description']}</p>
    </div>
    <div class="row">
    	<div class="col-md-12">
        	<form class="form-horizontal" enctype="multipart/form-data" action="{:U('index/infosub')}" method="post">
            <input type="hidden" name="proid" value="{$project['id']}" />
            <volist name='fields' id='data'>
            <php>if($data['type']==1){</php>
                <div class="form-group">
                    <label for="{$data['cname']}" class="col-sm-2 control-label">{$data['name']}</label>
                    <div class="col-sm-10">
                        <input type="text" name="{$data['cname']}" class="form-control" id="{$data['cname']}" placeholder="{$data['placeholder']}">
                    </div>
                </div>
            <php>}else if($data['type']==2){</php>
                <div class="form-group">
                    <label for="{$data['cname']}" class="col-sm-2 control-label">{$data['name']}</label>
                    <div class="col-sm-10">
                    	<textarea class="form-control" rows="3" id="{$data['cname']}" name="{$data['cname']}"></textarea>
                    </div>
                </div>
            <php>}else if($data['type']==3){</php>
                <div class="form-group">
                    <label for="{$data['cname']}" class="col-sm-2 control-label">{$data['name']}</label>
                    <div class="col-sm-10">
                    <?php 
                    	$list = explode('|',$data['setting']);
                    ?>
                        <select class="form-control" name="{$data['cname']}">
                            <volist name='list' id='vo'>
                            	<option value="{$vo}">{$vo}</option>
                            </volist>
                        </select>
                    </div>
                </div>
            <php>}else if($data['type']==4){</php>
                <div class="form-group">
                    <label for="{$data['cname']}" class="col-sm-2 control-label">{$data['name']}</label>
                    <div class="col-sm-10">
                        <div class="radio myradio">
                        <?php
                        	$list = explode('|',$data['setting']);
                        ?>
                        <volist name='list' id='vo'>
                        	<label><input type="radio" name="{$data['cname']}" <php>if($i==1){</php>checked<php>}</php> value="{$vo}"> {$vo}</label>
                        </volist>
                        </div>
                    </div>
                </div>

            <php>}else if($data['type']==5){</php>
                <div class="form-group">
                    <label for="{$data['cname']}" class="col-sm-2 control-label">{$data['name']}</label>
                    <div class="col-sm-10">
                        <div class="checkbox mycheckbox">
                        <?php
                        	$list = explode('|',$data['setting']);
                        ?>
                        <volist name='list' id='vo'>
                        	<label><input type="checkbox" name="{$data['cname']}[]" value="{$vo}"> {$vo}</label>
                        </volist>
                        </div>
                    </div>
                </div>
            <php>}else if($data['type']==6){</php>
                <div class="form-group">
                    <label for="{$data['cname']}" class="col-sm-2 control-label">{$data['name']}</label>
                    <div class="col-sm-10  has-feedback">
                        <input type="text" class="form-control" id="{$data['cname']}" name="{$data['cname']}">
                        <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                    </div>
                </div>
            <php>}else if($data['type']==7){</php>
                <div class="form-group">
                    <label for="{$data['cname']}" class="col-sm-2 control-label">{$data['name']}</label>
                    <div class="col-sm-10">
                        <input type="file" id="{$data['cname']}" name="{$data['cname']}" />
                    </div>
                </div>
            <php>}else if($data['type']==8){</php>
                <div class="form-group">
                    <label for="{$data['cname']}" class="col-sm-2 control-label">{$data['name']}</label>
                    <div class="col-sm-10" style="z-index:0;">
                        <script id="{$data['cname']}" name="{$data['cname']}" type="text/plain" style="width:100%;height:300px;"></script>
                    </div>
                </div>
            <php>}</php>
            </volist>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                	<button type="submit" class="btn btn-info">提交</button>
                </div>
            </div>
			</form>
            
        </div>
    </div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{:PUBLIC_PATH}dt/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{:PUBLIC_PATH}plus/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="{:PUBLIC_PATH}plus/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="{:PUBLIC_PATH}plus/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
$(function(){
	<volist name='datepicker' id='dtp'>
	$("#{$dtp['cname']}").datepicker({autoclose:true});
	</volist>
})
</script>
<script type="text/javascript">
//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
<volist name='text_input' id='data'>
var ue = UE.getEditor('{$data['cname']}');
</volist>
</script>
</body>
</html>
