<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>云报名CMS --最简洁的轻量级报名系统</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="{:SOURCE_PATH}assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{:SOURCE_PATH}assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="{:SOURCE_PATH}assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
        <link rel="stylesheet" href="{:SOURCE_PATH}assets/css/jquery.gritter.css" />

		<!-- fonts -->
		<link rel="stylesheet" href="{:SOURCE_PATH}assets/css/css.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="{:SOURCE_PATH}assets/css/ace.min.css" />
		<link rel="stylesheet" href="{:SOURCE_PATH}assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="{:SOURCE_PATH}assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="{:SOURCE_PATH}assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="{:SOURCE_PATH}assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="{:SOURCE_PATH}assets/js/html5shiv.js"></script>
		<script src="{:SOURCE_PATH}assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<include file="left" />
				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="{:U('index')}">首页</a>
							</li>
							<li>
								<a href="#">模型管理</a>
							</li>
							<li>
								<a href="#">{$model_name}</a>
							</li>
							<li class="active">字段列表</li>
						</ul><!-- .breadcrumb -->
					</div>

					<div class="page-content">
						<div class="row">
                            <div class="col-xs-12">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active">
                                            <a data-toggle="tab" href="#home">
                                                <i class="green icon-list-alt bigger-110"></i>
                                                字段列表
                                                <span class="badge badge-warning">{$fields_num}</span>
                                            </a>
                                        </li>

                                        <li class="">
                                            <a data-toggle="tab" href="#profile">
                                                <i class="purple icon-link bigger-110"></i>
                                                添加字段
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="home" class="tab-pane active">
                                            <div class="table-responsive">
                                                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="center">排序</th>
                                                            <th>字段名称</th>
                                                            <th>字段别名</th>
                                                            <th>字段类型</th>
                                                            <th>必填</th>
                                                            <th>状态</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
    
                                                    <tbody>
                                                    <volist name='fields' id='data'>
                                                        <tr>
                                                            <td class="center">{$data['listorder']}</td>
                                                            <td>{$data['name']}</td>
                                                            <td>{$data['cname']}</td>
                                                            <td>{$field_types[$data['type']]['name']}</php></td>
                                                            <td>
                                                            <php>if($data['required']){</php>是
                                                            <php>}else{</php>否<php>}</php>	
                                                            </td>
                                                            <td>
                                                            <php>if($data['state']){</php>正常
                                                            <php>}else{</php>禁用<php>}</php>	
                                                            </td>
                                                            <td>
                                                                <div class="action-buttons">
                                                                    <a class="green" href="{:U('index/editfield',array('id'=>$data['id']))}" title="编辑">
                                                                        <i class="icon-pencil bigger-130"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </volist>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div id="profile" class="tab-pane">
                                            <div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                <form class="form-horizontal" role="form" id="validation-form" action="{:U('index/addfield')}" method="post">
                                	<input type="hidden" name="mid" id="mid" value="{$mid}">
                                	<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="name"> 字段名称* </label>

										<div class="col-sm-9">
											<input type="text" id="name" name="name" placeholder="字段名称，例如：姓名" class="col-xs-10 col-sm-5 limited" maxlength="25" />
										</div>
									</div>

									<div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="cname"> 字段别名* </label>

										<div class="col-sm-9">
											<input type="text" id="cname" name="cname" placeholder="只能填写字母、数字、下划线,不能以下划线开头或结尾，例如：name" class="col-xs-12" />
										</div>
									</div>

									<div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="type"> 字段类型* </label>

										<div class="col-sm-9">
											<select class="form-control" id="type" name="type" onChange="javascript:getSettingEg()">
                                                <option value="">请选择类型</option>
                                                <volist name='field_types' id='ft'>
                                                <option value="{$key}" eg="{$ft['eg']}">{$ft['name']}</option>
                                                </volist>
                                            </select>
										</div>
									</div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="setting"> 字段配置 </label>

										<div class="col-sm-9">
											<textarea class="form-control" name="setting" id="setting"></textarea>
                                            <div class="space-4"></div>
                                            <label class="btn btn-danger btn-sm" id="gritter-center">配置规则 <i class="icon icon-info-sign"></i></label>
										</div>
									</div>
									<div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="pattern"> 校验规则 </label>
                                        
                                       	<div class="col-sm-6">
                                        	<input type="text" name="pattern" id="pattern" placeholder="正则表达式" class="col-xs-12">
                                        </div>
										<div class="col-sm-3">
											<select class="form-control" onChange="javascript:$('#pattern').val(this.value)">
                                                <option value="">常用规则</option>
                                                <volist name='field_patterns' id='fp'>
                                                <option value="{$fp}">{$key}</option>
                                                </volist>
                                            </select>
										</div>
									</div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="errormsg"> 错误提示 </label>

										<div class="col-sm-9">
											<input type="text" id="errormsg" name="errormsg" placeholder="输入信息不符合设定规则时的提示信息，例如：邮箱格式错误" class="col-xs-12 limited" maxlength="25" />
										</div>
									</div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="default"> 默认信息 </label>

										<div class="col-sm-9">
											<input type="text" id="default" name="default" placeholder="字段的默认数据、预设数据" class="col-xs-12 limited" maxlength="120" />
										</div>
									</div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="placeholder"> 提示信息 </label>

										<div class="col-sm-9">
											<input type="text" id="placeholder" name="placeholder" placeholder="用来对用户起到提示作用，指引用户如何填写" class="col-xs-12 limited" maxlength="100" />
										</div>
									</div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="listorder"> 排序 </label>

										<div class="col-sm-9">
											<input type="number" id="listorder" name="listorder" class="col-xs-1" value="0"/>
										</div>
									</div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 状态 </label>

										<div class="col-sm-9">
											<div class="radio">
                                                <label>
                                                    <input type="radio" name="state" value="1" checked class="ace" />
                                                    <span class="lbl"> 启用</span>
                                                </label>&emsp;&emsp;
                                                <label>
                                                    <input type="radio" name="state" value="0" class="ace" />
                                                    <span class="lbl"> 禁用</span>
                                                </label>
                                            </div>
										</div>
									</div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"> 是否为必填项 </label>

										<div class="col-sm-9">
											<div class="radio">
                                                <label>
                                                    <input type="radio" name="required" value="1" checked class="ace" />
                                                    <span class="lbl"> 是</span>
                                                </label>&emsp;&emsp;
                                                <label>
                                                    <input type="radio" name="required" value="0" class="ace" />
                                                    <span class="lbl"> 否</span>
                                                </label>
                                            </div>
										</div>
									</div>
                                    <div class="space-4"></div>
                                    <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn btn-info" id="submit" type="submit">
                                            <i class="icon-ok bigger-110"></i>
                                            立即提交
                                        </button>

                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn" type="reset">
                                            <i class="icon-undo bigger-110"></i>
                                            重置
                                        </button>
                                    </div>
                                </div>
                                </form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<div class="ace-settings-container" id="ace-settings-container">
					<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
						<i class="icon-cog bigger-150"></i>
					</div>

					<div class="ace-settings-box" id="ace-settings-box">
						<div>
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="default" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select>
							</div>
							<span>&nbsp; 选择皮肤</span>
						</div>
					</div>
				</div><!-- /#ace-settings-container -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="{:SOURCE_PATH}assets/js/jquery-2.0.3.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="{:SOURCE_PATH}assets/js/jquery-1.10.2.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='{:SOURCE_PATH}assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{:SOURCE_PATH}assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='{:SOURCE_PATH}assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{:SOURCE_PATH}assets/js/bootstrap.min.js"></script>
		<script src="{:SOURCE_PATH}assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->
        
        <!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
        <script src="{:SOURCE_PATH}assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="{:SOURCE_PATH}assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="{:SOURCE_PATH}assets/js/jquery.validate.min.js"></script>
		<script src="{:SOURCE_PATH}assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
        <script src="{:SOURCE_PATH}assets/js/jquery.gritter.min.js"></script>
		<!-- ace scripts -->
        
		<script src="{:SOURCE_PATH}assets/js/jquery.dataTables.min.js"></script>
		<script src="{:SOURCE_PATH}assets/js/jquery.dataTables.bootstrap.js"></script>
        
		<script src="{:SOURCE_PATH}assets/js/ace-elements.min.js"></script>
		<script src="{:SOURCE_PATH}assets/js/ace.min.js"></script>

		<script type="text/javascript">
			jQuery(function($) {
				$('textarea.limited,input.limited').inputlimiter({
					remText: '还可以输入%n 个字符',
					limitText: '最多允许: %n个字符.'
				});
				
				$('#validation-form').validate({
					errorElement: 'div',
					errorClass: 'help-block',
					focusInvalid: false,
					rules: {
						name:{
							required: true,
							remote:{
								 type:"POST",
								 url:"{:U('index/checkunique')}",
								 data:{
									 value:function(){return $("#name").val();},
									 field:"name",
									 id:"mid",
									 idvalue:function(){return $('#mid').val()}
								 }
							}
						},
						cname:{
							required: true,
							remote:{
								 type:"POST",
								 url:"{:U('index/checkunique')}",
								 data:{
									 value:function(){return $("#cname").val();},
									 field:"cname",
									 id:"mid",
									 idvalue:function(){return $('#mid').val()},
									 filter:1
								 }
							}
						},
						type:{required: true},
						
					},
			
					messages: {
						name:{
							required:"字段名称不能为空",
							remote:"名称已存在！"
						},
						cname:{
							required:"字段别名不能为空",
							remote:"别名已存在或者含有非法字符！"
						},
						type: "*字段类型必须选择！",
					},
			
					invalidHandler: function (event, validator) { //display error alert on form submit   
						$('.alert-danger', $('.login-form')).show();
					},
			
					highlight: function (e) {
						$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
					},
			
					success: function (e) {
						$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
						$(e).remove();
					},
			
					errorPlacement: function (error, element) {
						if(element.is('.select2')) {
							error.insertAfter(element);
						}else error.insertAfter(element);
					},
			
					submitHandler: function (form) {
						form.submit();
					}
				});
				
				$('#gritter-center').on(ace.click_event, function(){
					$.gritter.add({
						title: '字段配置信息设置规则',
						text: '单行文本、多行文本：可以设置限制最多输入的字符数，字符数超过设置值后，无法输入。例如：120<br/>下拉列表：需要设置备选下拉信息值，例如：苹果|香蕉|橘子，多个信息请用 | 隔开<br/><br/>单选按钮：需要设置供选信息，例如让用户选择性别，在这里设置：男|女，多个信息请用 | 隔开。<br/><br/>复选框：设置规则和单选按钮相同，不过和单选按钮不同的是，单选按钮同时只能选择并提交一个，复选框可以同时选择并提交多个。<br/><br/>附件上传：需要设置限制的上传格式(用 - 隔开)和大小(单位为Kb)，两个值之间用 | 隔开，例如jpg-png-jpeg-gif-rar-zip-doc|3000<br/></br>其他类型无需设置规则。如有疑问请到论坛提交问题咨询。',
						class_name: 'gritter-center gritter-info col-md-5'
					});
			
					return false;
				});
				
			
			});
			function getSettingEg(){
				eg = $('#type option:selected').attr('eg');
				$("#setting").val(eg);
			}
			
		</script>
        <script type="text/javascript">
			jQuery(function($) {
				var oTable1 = $('#sample-table-2').dataTable( {
				"aoColumns": [
			      { "bSortable": false },{ "bSortable": false },{ "bSortable": false },{ "bSortable": false }, { "bSortable": false }, { "bSortable": false },{ "bSortable": false }
				] } );
				
			})
		</script>
		<!-- inline scripts related to this page -->
</body>
</html>
